<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.yaowan.lsyx.jinbi1.99</string>
	<string>com.yaowan.lsyx.jinbi4.99</string>
	<string>com.yaowan.lsyx.jinbi11.99</string>
	<string>com.yaowan.lsyx.jinbi29.99</string>
	<string>com.yaowan.lsyx.jinbi49.99</string>
	<string>com.yaowan.lsyx.jinbi99.99</string>
</array>
</plist>
